{% extends "base.html" %}

{% block content %}

    <div class="w-full flex flex-col items-center">
        {# Rules #}
        <div class="bg-slate-800 my-6 p-3 text-white rounded text-center max-w-2xl">
            <div class="flex justify-evenly m-3">
                <div class="text-teal-400">Game <span class="font-bold">{{ game_id }}</span></div>
                <button class="right-0 h-8 px-5 rounded bg-teal-600 text-white hover:bg-teal-700"
                        onclick="toggleModal()">
                    Action
                </button>
                <form action="/game/{{ game_id }}/save" method="POST" id="nightsky">
                    {% csrf_token %}
                    <button class="right-0 h-8 px-5 rounded bg-teal-600 text-white hover:bg-teal-700" type="submit">
                        Save
                    </button>
                </form>
            </div>
            The nightsky is a circle divided into 12 sectors, each sector contains exactly one celestial
            body (moon, asteroid, nebula, dwarf planet, empty space or planet x).
            All together there are 2 moons, 4 asteroids, 2 nebulas, 1 dwarf planet, 2 empty spaces and 1
            planet x.
            <br>
            <br>
            Each action you take will reveal information about the nightsky, but will cost you time.

            {# Time Line #}
            <div class="max-w-2xl w-full flex rounded-full p-2">
                <div class="py-2 pr-2">⏳</div>
                <div class="w-full">
                    <div class="flex justify-between text-sm text-slate-500 pt-1">
                        <div>0</div>
                        <div>1</div>
                        <div>2</div>
                        <div title="Publish a paper here">📝</div>
                        <div>4</div>
                        <div>5</div>
                        <div title="Publish a paper here">📝</div>
                        <div>7</div>
                        <div>8</div>
                        <div title="Publish a paper here">📝</div>
                        <div>10</div>
                        <div>11</div>
                        <div title="Publish a paper here">📝</div>
                        <div title="Planet X Conference is here">🪐</div>
                        <div>14</div>
                        <div>15</div>
                        <div>16</div>
                    </div>
                    <div title="Making an Action will take time. The time you have spend is displayed here."
                         class="bg-teal-700 text-xs p-1 rounded-full"
                         style="width: {{ board.get_time_percentage }}%"></div>
                </div>
            </div>
        </div>

        {# Theories #}

        {# Nightsky #}
        <form method="POST"
              style="background: linear-gradient({{ board.visible_degree }}deg, #0f766e 0%, rgb(51, 65, 85, 1) 40%);"
              class="m-1 md:px-3 rounded-3xl md:rounded-full md:p-2 max-w-2xl font-medium">
            {% csrf_token %}

            <div class="flex justify-evenly w-full md:py-5 ">
                <div class="md:px-1">
                    {% for sector in board.left_board %}
                        <ul class="rounded-full my-2 px-2 flex items-center justify-between
                            first:ml-4 last:ml-4 [&:nth-child(2)]:ml-1 [&:nth-child(5)]:ml-1
                            md:first:ml-16 md:last:ml-16 md:[&:nth-child(2)]:ml-6 md:[&:nth-child(5)]:ml-6 h-12
                            bg-slate-800 border-teal-400 {% if sector.visible_sky %} border-2 {% endif %} ">
                            <div class="md:bg-slate-500 rounded-full md:px-1 text-xs md:text-slate-800 text-slate-400">
                                {{ sector.index | add:1 }}
                            </div>

                            {% include "icon.html" with icon="PLANET_X" index=sector.index filled=sector.planet_x %}
                            {% include "icon.html" with icon="EMPTY_SPACE" index=sector.index filled=sector.empty_space %}
                            {% include "icon.html" with icon="NEBULA" index=sector.index filled=sector.nebula %}
                            {% include "icon.html" with icon="DWARF_PLANET" index=sector.index filled=sector.planet %}
                            {% include "icon.html" with icon="ASTEROID" index=sector.index filled=sector.asteroid %}
                            {% if sector.can_have_moon %}
                                {% include "icon.html" with icon="MOON" index=sector.index filled=sector.moon %}
                            {% else %}
                                <li class="m-4"></li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
                <div class="px-1">
                    {% for sector in board.right_board %}
                        <ul class="rounded-full my-2 px-2 flex items-center justify-between
                            first:mr-4 last:mr-4 [&:nth-child(2)]:mr-1 [&:nth-child(5)]:mr-1
                            md:first:mr-16 md:last:mr-16 md:[&:nth-child(2)]:mr-6 md:[&:nth-child(5)]:mr-6 h-12
                            bg-slate-800 border-teal-400 {% if sector.visible_sky %} border-2 {% endif %} ">

                            {% if sector.can_have_moon %}
                                {% include "icon.html" with icon="MOON" index=sector.index filled=sector.moon %}
                            {% else %}
                                <li class="m-4"></li>
                            {% endif %}
                            {% include "icon.html" with icon="ASTEROID" index=sector.index filled=sector.asteroid %}
                            {% include "icon.html" with icon="DWARF_PLANET" index=sector.index filled=sector.planet %}
                            {% include "icon.html" with icon="NEBULA" index=sector.index filled=sector.nebula %}
                            {% include "icon.html" with icon="EMPTY_SPACE" index=sector.index filled=sector.empty_space %}
                            {% include "icon.html" with icon="PLANET_X" index=sector.index filled=sector.planet_x %}

                            <div class="md:bg-slate-500 rounded-full md:px-1 text-xs md:text-slate-800 text-slate-400">
                                {{ sector.index | add:1 }}
                            </div>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </form>

        {# Rules #}
        <div class="bg-slate-800 m-3 rounded text-white text-xs max-w-2xl w-full h-fit">
            <ul class="text-center m-1 w-full flex flex-wrap flex-col justify-evenly md:max-h-80">
                {% for rule in base_rules %}
                    <li class="md:max-w-xs bg-slate-700 rounded w-full flex m-1 justify-between">
                        <div class="text-slate-500 pl-2 py-2">{{ rule.origin }}</div>
                        <div class="p-2">{{ rule.description }}</div>
                    </li>
                {% endfor %}
                {% for rule in rules %}
                    <li class="md:max-w-xs bg-slate-700 rounded w-full flex m-1 justify-between">
                        <div class="text-slate-500 pl-2 py-2">{{ rule.origin }}</div>
                        <div class="p-2">{{ rule.description }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# Actions #}
        <div class="fixed z-10 overflow-y-auto top-0 w-full h-full left-0 flex hidden items-center justify-center text-left text-white"
             id="modal">
            <div class="inset-0 transition-opacity max-w-full">
                <div class="absolute inset-0 bg-slate-900 opacity-85 h-full" onclick="toggleModal()"/>
            </div>
            <div class="transform sm:my-8 sm:max-w-2xl w-full max-w-full" role="dialog" aria-modal="true"
                 aria-labelledby="modal-headline">

                <div class="my-2 bg-slate-900 rounded p-2">
                    <div class="my-2">
                        Each action you take will reveal information about the nightsky, but will cost you time (⏳).

                        There is only a fraction of the nightsky visible to you to perform any action on. As time passes
                        the nightsky will rotate and reveal more sectors to you, and hide others. The visible sectors
                        are marked with a border.
                    </div>
                </div>

                <form action="/game/{{ game_id }}/target" method="POST" class="my-2 bg-slate-600 rounded p-2">
                    {% csrf_token %}
                    <div class="flex flex-wrap">
                        <label for="target" class="min-w-fit pt-1">Target Sector</label>
                        <select id="target"
                                class="pl-3 pr-2 py-1 mx-2 rounded-full bg-teal-600 hover:bg-teal-500 text-sm h-fit"
                                style="appearance: none" name="target">
                            {% for sector in board.sectors %}
                                <option  {% if not sector.visible_sky %} disabled {% endif %}
                                                                         value="{{ sector.index }}">
                                    {{ sector.index | add:1 }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="py-1 px-3 rounded bg-teal-600 hover:bg-teal-500 ml-auto">
                            Target
                        </button>
                    </div>
                    <div class="text-xs my-2">
                        Target a sector to know what's in there.
                        <br>
                        This Action will take 4 ⏳
                        <br>
                        Planet X will appear as Empty Space.
                    </div>
                </form>

                <form action="/game/{{ game_id }}/conference" method="POST" class="my-2 bg-slate-600 rounded p-2">
                    {% csrf_token %}
                    <div class="flex flex-wrap">
                        <label class="min-w-fit pt-1">Go to Conference </label>
                        <button type="submit" class="py-1 px-3 rounded bg-teal-600 hover:bg-teal-500 ml-auto">
                            Go to Conference
                        </button>
                    </div>
                    <div class="text-xs my-2">
                        Receive a new rule. This Action will take 1 ⏳, but can not be done twice in a row.
                    </div>
                </form>

                <form action="/game/{{ game_id }}/survey" method="POST" class="my-2 bg-slate-600 rounded p-2">
                    {% csrf_token %}
                    <div class="flex flex-wrap">
                        <label for="survey_icon" class="min-w-fit pt-1">Survey for</label>
                        <select id="survey_icon" name="survey_icon"
                                class="pl-3 pr-2 py-1 mx-2 rounded-full bg-teal-600 hover:bg-teal-500 text-sm h-fit"
                                style="appearance: none">
                            <option value="MOON"> Moon</option>
                            <option value="ASTEROID"> Asteroid</option>
                            <option value="DWARF_PLANET"> Dwarf Planet</option>
                            <option value="NEBULA"> Nebula</option>
                            <option value="EMPTY_SPACE"> Empty Space</option>
                        </select>

                        <label for="survey_start" class="min-w-fit pt-1"> in sectors</label>
                        <select id="survey_start" name="survey_start"
                                class="pl-3 pr-2 py-1 mx-2 rounded-full bg-teal-600 hover:bg-teal-500 text-sm h-fit"
                                name="from" style="appearance: none;">
                            {% for sector in board.sectors %}
                                <option  {% if not sector.visible_sky %} disabled {% endif %}
                                                                         value="{{ sector.index }}">
                                    {{ sector.index | add:1 }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="survey_end" class="min-w-fit pt-1">to</label>
                        <select id="survey_end" name="survey_end"
                                class="pl-3 pr-2 py-1 mx-2 rounded-full bg-teal-600 hover:bg-teal-500 text-sm h-fit"
                                style="appearance: none;">
                            {% for sector in board.sectors %}
                                <option  {% if not sector.visible_sky %} disabled {% endif %}
                                                                         value="{{ sector.index }}">
                                    {{ sector.index | add:1 }}
                                </option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="py-1 px-3 rounded bg-teal-600 hover:bg-teal-500 ml-auto">
                            Survey
                        </button>
                    </div>

                    <div class="text-xs my-2">
                        Select a range of Sectors to get to know the number of one object type withing.
                        <br>
                        This Action will take 4 ⏳ for 3 or less sectors, 3 ⏳ for 4,5, or 6 sectors, and 2 ⏳ for 7 or
                        more sectors.
                        <br>
                        Planet X will appear as Empty Space
                    </div>
                </form>

                <div class="flex justify-end">
                    <button onclick="toggleModal()" class="py-1 px-3 rounded bg-teal-600 hover:bg-teal-500">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script language="JavaScript">
        function toggleModal() {
            console.log('lol')
            document.getElementById('modal').classList.toggle('hidden')
        }
    </script>

    <style>
        select {
            background: none;
            padding: 0;
        }
    </style>

{% endblock content %}
