{% extends "base.html" %}

{% block content %}

    <div class="w-full flex flex-col items-center">
        <div class="bg-slate-800 my-6 p-3 text-white rounded text-center max-w-2xl">
            The nightsky is a circle divided into 12 sectors, each sector contains exactly one celestial
            body (moon, asteroid, nebula, dwarf planet, empty space or planet x).
            All together there are 2 moons, 4 asteroids, 2 nebulas, 1 dwarf planet, 2 empty spaces and 1
            planet x.
        </div>

        {# Time Line #}

        {# Theories #}

        <form method="POST"
              style="background: linear-gradient({{ board.visible_degree }}deg, #0f766e 0%, rgb(51, 65, 85, 1) 40%);"
              class="m-1 md:px-3 rounded-3xl md:rounded-full md:p-2 max-w-2xl font-medium">

            <div class="flex justify-evenly w-full md:py-5 ">
                <div class="md:px-1">
                    {% for sector in board.left_board %}
                        <ul class="rounded-full my-2 px-2 flex items-center justify-between
                            first:ml-4 last:ml-4 [&:nth-child(2)]:ml-1 [&:nth-child(5)]:ml-1
                            md:first:ml-16 md:last:ml-16 md:[&:nth-child(2)]:ml-6 md:[&:nth-child(5)]:ml-6 h-12
                            bg-slate-800 border-teal-400 {% if sector.visible_sky %} border-2 {% endif %} ">
                            <div class="md:bg-slate-500 rounded-full md:px-1 text-xs md:text-slate-800 text-slate-400">
                                {{ sector.index | add:1 }}
                            </div>

                            {% include "icon.html" with icon="PLANET_X" index=sector.index filled=sector.planet_x %}
                            {% include "icon.html" with icon="EMPTY_SPACE" index=sector.index filled=sector.empty_space %}
                            {% include "icon.html" with icon="NEBULA" index=sector.index filled=sector.nebula %}
                            {% include "icon.html" with icon="DWARF_PLANET" index=sector.index filled=sector.planet %}
                            {% include "icon.html" with icon="ASTEROID" index=sector.index filled=sector.asteroid %}
                            {% if sector.can_have_moon %}
                                {% include "icon.html" with icon="MOON" index=sector.index filled=sector.moon %}
                            {% else %}
                                <li class="m-4"></li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
                <div class="px-1">
                    {% for sector in board.right_board %}
                        <ul class="rounded-full my-2 px-2 flex items-center justify-between
                            first:mr-4 last:mr-4 [&:nth-child(2)]:mr-1 [&:nth-child(5)]:mr-1
                            md:first:mr-16 md:last:mr-16 md:[&:nth-child(2)]:mr-6 md:[&:nth-child(5)]:mr-6 h-12
                            bg-slate-800 border-teal-400 {% if sector.visible_sky %} border-2 {% endif %} ">

                            {% if sector.can_have_moon %}
                                {% include "icon.html" with icon="MOON" index=sector.index filled=sector.moon %}
                            {% else %}
                                <li class="m-4"></li>
                            {% endif %}
                            {% include "icon.html" with icon="ASTEROID" index=sector.index filled=sector.asteroid %}
                            {% include "icon.html" with icon="DWARF_PLANET" index=sector.index filled=sector.planet %}
                            {% include "icon.html" with icon="NEBULA" index=sector.index filled=sector.nebula %}
                            {% include "icon.html" with icon="EMPTY_SPACE" index=sector.index filled=sector.empty_space %}
                            {% include "icon.html" with icon="PLANET_X" index=sector.index filled=sector.planet_x %}

                            <div class="md:bg-slate-500 rounded-full md:px-1 text-xs md:text-slate-800 text-slate-400">
                                {{ sector.index | add:1 }}
                            </div>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </form>


        {# Rules #}

        <div class="bg-slate-800 m-3 p-2 rounded text-white text-xs max-w-2xl w-full">
            <ul class="max-w-sm text-center">
                {% for rule in start_rules %}
                    <li class="flex m-2">
                        <div class="bg-slate-700 p-2 rounded w-full">{{ rule.description }}</div>
                        <div class="text-slate-500 p-2 min-w-fit">Initial Rule</div>
                    </li>
                {% endfor %}
                {% for rule in conference_rules %}
                    <li class="flex m-2">
                        {% if rule.visible %}
                            <div class="bg-slate-700 p-2 rounded w-full">{{ rule.description }}</div>
                        {% else %}
                            <div class="bg-slate-700 p-2 rounded w-full">???</div>
                        {% endif %}
                        <div class="text-slate-500 p-2 min-w-fit">{{ rule.origin }}</div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {# Actions #}
    </div>


{% endblock content %}
